<main>
    <div id="title-container">
        <h1>Poussins</h1>
    </div>
    {% if animals is not empty %}
        <table>
            <thead>
            <tr>
                <th class="appear">Nom</th>
                <th class="appear-one">Description</th>
                <th class="appear-two">Espece</th>
                <th class="appear-three">Naissance</th>
                <th class="appear-four">Maturité</th>
            </tr>
            </thead>
            <tbody>
            {% for animal in animals %}
                <tr>
                    <td class="appear">{{ animal.name }}</td>
                    <td class="appear-one">{{ animal.description }}</td>
                    <td class="appear-two">{{ animal.espece.name }}</td>
                    <td class="appear-three">{{ animal.createdAt|date('d-m-Y H:i') }}</td>
                    <td class="appear-four">{{ animal.sixMonthsDate|date('d-m-Y H:i') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun individu trouvé pour la sélection</p>
    {% endif %}
</main>
