<main>
    {{ form_errors(addAnimalForm) }}
    <div class="container-fluid appear">
        <div class="row justify-content-center">
            <div class="col-md-6 col-xxl-6 appear-one">
                {{ form_start(addAnimalForm, {
                    'attr': {'class': 'appear-two'}
                }) }}
                {{ form_row(addAnimalForm.name, {
                    'attr': {'class': 'appear-three'}
                }) }}
                {{ form_row(addAnimalForm.description, {
                    'attr': {'class': 'appear-four'}
                }) }}
                {{ form_row(addAnimalForm.createdAt, {
                    'attr': {'class': 'appear-five'}
                }) }}
                {{ form_row(addAnimalForm.espece.name, {
                    'attr': {'class': 'appear-six'}
                }) }}

                <button type="submit" class="btn appear-seven">Créer</button>
                {{ form_end(addAnimalForm) }}
            </div>
        </div>
    </div>
</main>
