{% extends 'base.html.twig' %}

{% block title %}Mes animaux{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center">Mes animaux</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="appear-one">Nom</th>
                <th class="appear-two">Création</th>
                <th class="appear-three">Description</th>
                <th class="appear-four">Espèce</th>
                <th class="appear-five">Maturité</th>
                <th class="appear-six">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td class="appear-one">{{ animal.name }}</td>
                <td class="appear-two">{{ animal.createdAt ? animal.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td class="appear-three">{{ animal.description }}</td>
                <td class="appear-four">{{ animal.espece }}</td>
                <td class="appear-five">{{ animal.sixMonthsDate ? animal.sixMonthsDate|date('d-m-Y H:i:s') : '' }}</td>
                <td class="appear-six">
                    <a href="{{ path('app_animal_crud_edit', {'id': animal.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            {{ include('partials/errors/_no-animal-found.html.twig') }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
