<main>
    <div id="title-container">
        <h1>Canards</h1>
    </div>
    {% if animals is not empty %}
        <table class="appear">
            <thead>
            <tr>
                <th class="appear-one">Nom</th>
                <th class="appear-two">Description</th>
                <th class="appear-three">Espece</th>
                <th class="appear-four">Naissance</th>
                <th class="appear-five">Maturité</th>
            </tr>
            </thead>
            <tbody>
            {% for animal in animals %}
                <tr>
                    <td class="appear-one">{{ animal.name }}</td>
                    <td class="appear-two">{{ animal.description }}</td>
                    <td class="appear-three">{{ animal.espece.name }}</td>
                    <td class="appear-four">{{ animal.createdAt|date('d-m-Y H:i') }}</td>
                    <td class="appear-five">{{ animal.sixMonthsDate|date('d-m-Y H:i') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
      {{ include('partials/errors/_no-animal-found.html.twig') }}
    {% endif %}
</main>
